@import url('https://fonts.googleapis.com/css2?family=Share&family=Staatliches&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.main-cdu{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */

    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.img-cdu{
    width: 30%; 
    height: 100vh;
    /* background-color: blueviolet; */
}

.imgCtn-cdu{
    height: 100vh;
    /* background-color: blue; */
}

.cad-cdu{
    height: 100vh;
    width: 60%;
    /* background-color: goldenrod; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.cadInputs-cdu{
    width: 80%;
    height: 70%;
    /* background-color: greenyellow; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.h1-cdu{
    font-family: Staatliches;
    letter-spacing: 2px;
}

.form-cdu{
    height: 50%;
    width: 100%;
    /* background-color: grey; */

    display: flex;
    flex-direction: row;
}

.input-cdu{
    width: 45%;
    height: 100%;
    /* background-color: hotpink; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inputCtn-cdu{
    width: 100%;
    height: 25%;

    border: 3px solid #00873B;
    border-radius: 10px;

    padding-left: 10px;

    font-family: Share;
    font-size: 18px;
}

.inputCtn-cdu::placeholder{
    color: black;
}

.linha-cdu{
    width: 10%;
    height: 100%;
    /* background-color: indianred; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.linhaCtn-cdu{
    width: 5%;
    height: 110%;
    background-color: black;
}

.btnPass-cdu{
    width: 100%;
    height: 100%;

    background-color: white;
    transition: 0.3s;
}

.btn-cdu:hover{
    transform: scale(1.1);
}